.img{
    width:100;
    height:100 ;
    position:relative;
    margin-top: 70px;
    text-align: center;
    line-height: 50px;
    color: darkgoldenrod;   

}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    grid-column-gap: 2rem;
}

.row .col {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.h5, h5 {
    font-size: 1.25rem;

}

.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.row .col {
    width: 100%!important;
}

.page {
    background:lavender;
    color: #000;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1rem;
    line-height: 100px;
    margin-top: 40px;
}

.b, p {
    font-weight: bolder;
    
}

.col .h5{
    line-height: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.col .h1{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style:initial;
    color: maroon;
    justify-content: space-between;
    font-size:40px;
    text-align: center;
}

.page .h51{
    margin-left: 100px;
    margin-right: 100px;
    text-align: right;
    font-weight: bold;
    color: firebrick;
}